jmespath~=1.0.1
pip~=23.1.2
attrs~=23.1.0
wheel~=0.40.0
cryptography~=41.0.1
lxml~=4.9.3
cssselect~=1.2.0
w3lib~=2.1.1
setuptools~=67.8.0
Django~=4.2.3
asgiref~=3.7.2
sqlparse~=0.4.4yum-config-manager --disable mysql57-community
requests~=2.31.0
parsel~=1.8.1
packaging~=23.1
pyasn1~=0.5.0
Automat~=22.10.0
Twisted~=22.10.0
certifi~=2023.5.7
cffi~=1.15.1
incremental~=22.10.0
constantly~=15.1.0
hyperlink~=21.0.0
openpyxl~=3.1.2
queuelib~=1.6.2
idna~=3.4
urllib3~=2.0.3
pycparser~=2.21
six~=1.16.0
PyDispatcher~=2.0.7
tldextract~=3.4.4
filelock~=3.12.2
itemadapter~=0.8.0
itemloaders~=1.1.0
PyMySQL~=1.1.0
sqlparse~=0.4.4