{% extends "base.html" %}

{% block edu %}
    <!-- edu-model提示框模板 -->
<div id="edu-alert" class="modal" type="position: absolute;left: 0;" >s
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h5 class="modal-title"><i class="fa fa-exclamation-circle"></i> [Title]</h5>
      </div>
      <div class="modal-body small">
        <p>[Message]</p>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
        <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
      </div>
    </div>
  </div>
</div>
<!-- edu-model-end -->
{% endblock %}

{% block main_mssage %}
    <script type="text/javascript">
        Modal.alert({
            msg: "{{ info }}",
            title: '信息提示',
            btnok: '确定',
            btncl:'取消'
        }).on(function (e){
            if (e){
                window.location.href= {% url  url  %};
            }
        });
        /*
        Modal.confirm({
            msg: "{{ info }}",
            title: ' 信息提示',
            btnok: '确定',
            btncl: '取消'
          }).on(function (e){
            if(e){
             // window.location.href= {% url  url  %};
              Modal.alert({msg: "成功删除",title: ' 信息提示',btnok: '确定',btncl:'取消'});
            }
          });
          */
    </script>
{% endblock %}
