{% extends 'base.html' %}

{% block main_body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            客户门店管理
            <small>客户门店列表</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i>SCM客户服务系统</a></li>
            <li class="active">客户门店管理</li>
        </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
    
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">客户门店列表</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <form action="{% url 'Customer_checks_index' 1 %}" method="get">
                                        <div class="input-group input-group-sm" style="width:150px;">
                                          <input type="text" name="keyword" class="form-control pull-right" placeholder="按照客户名称搜索">
                                          <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                          </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <form action="{% url 'Customer_checks_index' 1 %}" method="get">
                                        <div class="input-group input-group-sm" style="width:150px;">
                                          <input type="text" name="keyword" class="form-control pull-right" placeholder="按照负责人搜索">
                                          <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                          </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                    <th>ID</th>
                    <th>客户名称</th>
                    <th>客户负责人</th>
                    <th>有效门店数</th>
                    <th>配送中心数</th>
                    <th>直营门店数</th>
                    <th>加盟门店数</th>
                    <th>外销门店数</th>
                    <th>本月到期数</th>
                    <th>下月到期数</th>
                    <th>数据更新时间</th>
                    <th>操作</th>
                    </tr>
                    {% for vo in Customerlist %}
                    <tr>
                    <td>{{ vo.id }}</td>
                    <td>{{ vo.cs_name }}</td>
                    <td>{{ vo.cs_am }}</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>
                        <a type="button" href="{% url 'Customer_checks_index' vo.id %}" class="btn btn-success btn-xs">
                        <span class="fa fa-list-ul" aria-hidden="true"></span>门店详情</a>
                        <a type="button" href="{% url 'Customer_checks_StoreDataUpdate' vo.id %}" class="btn btn-danger btn-xs">
                        <span class="fa fa-refresh" aria-hidden="true"></span> 重新同步</a>
                    </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a role="button" href="#" class="btn btn-primary">
                                <span class="fa fa-refresh" aria-hidden="true"></span>整体更新</a>
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">上一页</a></li>
                            <li class="active"><a href="#"></a></li>
                            <li><a href="#">下一页</a></li>
                        </ul>
                    </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
    
        </section>
        <!-- /.content -->
{% endblock %}